html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.content {
	flex: 1 0 auto;
	margin-top: 30px; /* To keep everything visible - because of menu */
	width: 100%; 
}
.footer {
	flex-shrink: 0;
	padding-bottom: 20px;
	text-align: center;
	width: 100%; 
}

.menubar {
	overflow: hidden;
	background-color: #3F3F3F;
	position: fixed;
	top: 0; 
	width: 100%; 
}

.menubar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menubar a:hover {
  background: #ddd;
  color: black;
}

.flashes {
	list-style-type: none;
}

.flashes .error {
	color: red;
}