{% extends "skeleton.html" %}
{% block title %}Sensors{% endblock %}
{% block head %}
	<style>
	</style>
{% endblock %}

{% block content %}
	<h1>Add sensor</h1>
	<div class="form_wrapper">
		<form method="post">
			<label for="sensor_box_id">Sensor box identificator:</label>
			<input type="text" name="sensor_box_id" value="{{box_id}}" autofocus />
			<input type="submit" value="Add" />
		</form>
	</div>
{% endblock %}
