{% extends "skeleton.html" %}
{% block title %}Sensors{% endblock %}
{% block head %}
<script type="text/javascript" src="/js/socket.io.min.js"></script>
	<script type="text/javascript" src="/js/commFunctions.js"></script>
	<script type="text/javascript" charset="utf-8">
		function connect() {
			var payload = {status: 'connect', type: 'game'};
			
			sendConnectMessage('connection', payload);
			
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			socket.on('gameData', function(json){ console.log("GAME"); parseGameData(json); });
		}
		
		var gameRunning = {{ game_running.lower() }};
		var trippedSound;
		var soundMuted = true;
		window.onload = function() { init(); };
		
		
		function parseGameData(json) {
			console.log("Game data");
			console.log(JSON.stringify(json));
			
			if(json["action"] == "tripped" || json["action"] == "reset") {
				countSpan = document.getElementById("tripped_count");
				countSpan.innerHTML = json["trippedTimes"];
				
				if(json["action"] == "tripped") {
					trippedSound.play();
				}
			} 
			else if(json["action"] == "gameStateChanged") {
				gameRunning = json["gameRunning"];
				changeStartStopButtons();
			}
		}
		
		function reset() {
			payload = {"action": "resetTrippedCounter"}
			sendMessageOnce('gameSettings', payload);
		}
		
		function start() {
			var payload = {"action": 'start'};
			sendMessageOnce('gameSettings', payload);
		}
		
		function stop() {
			var payload = {"action": 'stop'};
			sendMessageOnce('gameSettings', payload);
		}
		
		function changeStartStopButtons() {
			document.getElementById("start").disabled = gameRunning;
			document.getElementById("stop").disabled = !gameRunning;
		}
		
		function sound(src) {
			this.sound = document.createElement("audio");
			this.sound.src = src;
			this.sound.setAttribute("preload", "auto");
			this.sound.setAttribute("controls", "none");
			this.sound.style.display = "none";
			document.body.appendChild(this.sound);
			this.play = function(){
				if(!soundMuted) {
					this.sound.play();
				}
				else {
					console.log("Laser tripped, sound muted");
				}
			}
		}
		
		function toggleMuteButton() {
			if(soundMuted) {
				document.getElementById("mute").innerHTML = "Mute sound";
			}
			else {
				document.getElementById("mute").innerHTML = "Unmute sound";
			}
			soundMuted = !soundMuted;
		}
		
		function init() {
			changeStartStopButtons();
			trippedSound = new sound("tripped.wav");
		}
		
		connect();
	</script>
	<style>
	</style>
{% endblock %}

{% block content %}
	<h1>Laser Maze</h1>
	
	<div id="tripped_counter_wrapper">
		<div id="counter_iner">
			<span class="tripped_label">Tripped </span>
			<span id="tripped_count">{{tripped_count}}</span>
			<span class="tripped_label"> times.</span>
		</div>
		<div id="counter_controls">
			<button id="reset" onclick='reset();'>Reset</button>
		</div>
	</div>
	
	<div id="game_controls">
		<button id="start" onclick='start();'>Start</button>
		<button id="stop" onclick='stop();'>Stop</button>
	</div>
	
	<div id="sound_controls">
		<button id="mute" onclick='toggleMuteButton();'>Unmute sound</button>
	</div>
	
{% endblock %}
