{% extends "skeleton.html" %}
{% block title %}MQTT message log{% endblock %}
{% block head %}
	<script type="text/javascript" src="/js/socket.io.min.js"></script>
	<script type="text/javascript" src="/js/commFunctions.js"></script>
	<script type="text/javascript" charset="utf-8">
		function connect() {
			var payload = {status: 'connect', type: 'mqtt_log'};
			
			sendConnectMessage('connection', payload);
			
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			socket.on('mqttMessage', function(json){ parseMqttMessage(json); });
		}
		
		function getTimeString() {
			var today = new Date();
			var time = today.getHours().toLocaleString(undefined, {minimumIntegerDigits: 2, useGrouping:false}) + ":";
			time += today.getMinutes().toLocaleString(undefined, {minimumIntegerDigits: 2, useGrouping:false}) + ":";
			time += today.getSeconds().toLocaleString(undefined, {minimumIntegerDigits: 2, useGrouping:false});
			return time;
		}
		
		function parseMqttMessage(json) {
			var table = document.getElementById("mqttlog");
			var row = table.insertRow(0);
			
			var cell_timestamp  = row.insertCell(0);
			var cell_topic		= row.insertCell(1);
			var cell_payload	= row.insertCell(2);
			
			cell_timestamp.innerHTML = getTimeString();
			cell_timestamp.className = "timestamp"
			
			cell_topic.innerHTML = json["topic"];
			cell_topic.className = "topic";
			
			cell_payload.innerHTML = json["payload"];
			cell_payload.className = "payload";
		}
		
		connect();
	</script>
	<style>
			#mqttlog {
				font-family: monospace;
			}
			
			tr:nth-child(even) {
				background: #DDDDDD;
			}
			
            .topic{
                font-weight: bold;
            }
            .payload {
                padding-left: 10px;
            }
			#mqttlog {
				background-color: light-gray;
			}
            </style>
{% endblock %}

{% block content %}
	<h1>MQTT messages log</h1>
	<table id="mqttlog">
	</table>
{% endblock %}
