{% extends "skeleton.html" %}
{% block title %}Sensors{% endblock %}
{% block head %}
	<link rel="stylesheet" href="/css/sensors.css" />
	<script type="text/javascript" src="/js/socket.io.min.js"></script>
	<script type="text/javascript" src="/js/commFunctions.js"></script>
	<script type="text/javascript" charset="utf-8">
		function connect() {
			var payload = {status: 'connect', type: 'game'};
			
			sendConnectMessage('connection', payload);
			
			var socket = io.connect('http://' + document.domain + ':' + location.port);
			socket.on('sensorTelemetry', function(json){ parseTelemetry(json); });
			socket.on('sensorSettings', function(json){ parseSensorSettings(json); }); 
		}
		
		function parseTelemetry(json) {
			cell_id = "row_"+json["boxId"]+"_"+json["sensorId"];
			cell = document.getElementById(cell_id);
			
			if(cell.classList.contains("disabled")) {
				return
			}
			
			if(json["value"] == 1) {
				add_class = "active";
				del_class = "tripped";
			}
			else {
				add_class = "tripped";
				del_class = "active";
			}
			
			cell.classList.add(add_class);
			cell.classList.remove(del_class);
		}
		
		function parseSensorSettings(json) {
			console.log("New sensor settings: "+JSON.stringify(json));
			
			//TODO: update this to work dynamically (single table cell update instead of full page reload). 
			location.reload();
		}
		
		connect();
		
		function activate(boxId, sensor) {
			console.log("Activate: "+sensor+"@"+boxId);
			payload = {"action": "activate", "sensorBox": boxId, "sensor": sensor}
			sendMessageOnce('sensorSettings', payload);
		}
		
		function deactivate(boxId, sensor) {
			console.log("Deactivate: "+sensor+"@"+boxId);
			payload = {"action": "deactivate", "sensorBox": boxId, "sensor": sensor}
			sendMessageOnce('sensorSettings', payload);
		}
	</script>
	<style>
	</style>
{% endblock %}

{% block content %}
	<h1>Laser maze </h1>
	<table id="sensors">
		<tr><th>Sensor box</th><th>Sensor</th><th>Options</th></tr>
		{% for sensor in sensorsData %}
			<tr id='row_{{sensor["boxId"]}}'>
				<td id='row_{{sensor["boxId"]}}'>{{ sensor["boxId"] }}</td>
				<td><table><tr>
				{% for i in range(sensor["values"]|length) %}
					{% set sensorNumber = i+1 %}
					{% set buttonLabel = "Enabled" %}
					{% set buttonAction = "deactivate" %}

					{% if sensor["values"][i] == 1 %}
						{% set class = "active" %}
					{% else %}
						{% set class = "tripped" %}
					{% endif %}
					
					{% if sensor["active"][i] == False %}
						{% set class = "disabled" %}
						{% set buttonLabel = "Disabled" %}
						{% set buttonAction = "activate" %}
					{% endif %}
					
					<td id='row_{{sensor["boxId"]}}_{{sensorNumber}}' class='sensor {{class}}'>
						<span class="sensor_number">{{sensorNumber}}</span><br>
						<button id="stop" onclick='{{buttonAction}}("{{sensor["boxId"]}}",{{sensorNumber}});'>
							{{buttonLabel}}
						</button>
					</td>
				{% endfor %}
				</tr></table></td>
				<td>{# TODO here shall be options row. #}..opts..</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
