<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/common.css" />
		{% block head %}{% endblock %}
		<title>{% block title %}Proto page{% endblock %} | Laser Maze</title>
	</head>
	<body>
		<div class="menubar">
			<a href="{{ url_for('index') }}">Home page</a>
			<a href="{{ url_for('sensors') }}">Sensors</a>
			<a href="{{ url_for('add_sensor_html') }}">Add sensors</a>
			<a href="{{ url_for('mqtt_log') }}">MQTT log</a>
		</div>
		<div class="content">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					<div class="flashed_messages">
						<ul class=flashes>
							{% for category, message in messages %}
								<li class="{{ category }}">{{ message }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			{% endwith %}
			{% block content %}Here shall be content.{% endblock %}
		</div>
		<footer class="footer">Laser Maze ver. {{version}}, &copy;<a href="http://hemmond.cz/">hemmond</a>, 2020</footer>
	</body>
</html>